h1{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
div{
    text-align: center;
}

h2{
    font-size: 50px;
}

#hints{
    text-align:left;
}

#theWord{
    font-size: 25px;
}

#lettersGuessed{
    text-align:left;
}